@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

body {
    background-image: url("imgs/bg11.jpg");
    background-attachment: fixed;
    /* position: relative; */
    background-position: scroll;
    background-size: cover;
    font-family: 'poppins', sans-serif;
}

h1 {
    font-size: 3em;
    color: rgb(32, 42, 84);
    background-color: rgba(240, 248, 255, 0.85);
}

#h11 {
    font-size: 4em;
}

h2 {
    font-size: 2.5em;
    color: white;
}
h3 {
    font-size: 3em;
    color: white;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: white;
    font-size: 2.5em;
    border: 2px solid white;
    border-radius: 20px;
    padding: 20px;
    margin-inline: 20px;
    /* margin-top: 300px; */
}

h1:hover {
    border: 2px rgb(0, 0, 0);
    color: blueviolet;
    font-size: 1em;
}

table {
    border: 2px solid white;
    border-radius: 20px;
    margin-top: 50px;
    width: 50%;
}

td{
    color: white;
    /* padding: 5px 20px 5px 20px; */
    /* margin: 80px; */
    font-size: 3em;    
    text-align: center;
    padding-bottom: 20px;
}

th{
    color: white;
    padding: 10px 20px 50px 20px;
    font-size: 3.5em;
    text-align: center;
}