@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

body{
    background-image:url("imgs/bg11.jpg");
    background-attachment:fixed;
    background-size: cover;
    font-family: 'poppins',sans-serif;
}
h1{
    font-size: 3em;
    color: white;
}
h2{
    font-size: 2.5em;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    font-size: 2.5em;
    border: 2px solid white;
    border-radius: 20px;
    padding: 20px;
    margin-inline: 20px;
    /* margin-top: 300px; */
}
a :hover{
    border: 2px rgb(0, 200, 255);
    color: blueviolet;
}